$shadow-1: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

$shadow-2: rgba(241, 12, 12, 0.96) 0 2px 8px 0;

$blue-color: #2f82ff;
$blue-color-light: #0669ff;
$gray-color: #f8f8f8;
$light-error-color: #fd010169;
$error-color: #ed4337;

.container {
  max-width: 94vw;
  margin: 0 auto;
  padding: 1rem;
}

.btn_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $blue-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
.btn_outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $gray-color;
  color: $blue-color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}

//******************* Swiper *****************

.swiper {
  width: 100%;
  transition: 0.2s;
  height: 100%;
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      display: grid !important;
      transition: 0.2s;
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.mainSwiper,
.offers_swiper {
  .swiper-slide img {
    height: 300px !important;
    border-radius: 10px !important;
    box-shadow: $shadow-1 !important;
  }
  .swiper-pagination-bullet {
    width: 9px !important;

    border-radius: 5px !important;
  }
  .swiper-pagination-bullet-active {
    background: #fff !important;
    width: 10px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.407) !important;
    display: none !important;
    place-items: center;
    transition: 0.2s;
  }
  .swiper-button-prev {
    left: -13px !important;
  }
  .swiper-button-next {
    right: -13px !important;
  }
}

.offers {
}

.offers_swiper {
  max-width: 550px;
  transform: translateX(33%);
  .swiper-pagination {
    display: none !important;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    width: 150px !important;
    height: 90% !important;
    border-radius: 10px !important;
    margin-top: 0.6rem !important;
    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
      transform: scaleY(1.35);
      // display: none !important;
    }
  }
  span {
    position: absolute;
    color: #fff;
    &:first-of-type {
      bottom: 10px;
      width: 90px;
      height: 25px;
      border-radius: 50px;
      background: yellow;
    }
  }
}
